{% extends 'base-2.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/accueil/accueil.css') }}">
	<link rel="stylesheet" href="{{ asset('css/modele/formulaireAvis.css') }}">
{% endblock %}
{% block javascripts %}
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script src="{{ asset('js/ajouterAvis.js') }}"></script>
	<script src="{{ asset('js/chargementAvis.js') }}"></script>
{% endblock %}
{% block main %}
	{% if serves is not null %}
	<div class="services">
		<h2 class="services__title">Nos services proposés</h2>
		{% for serve in serves %}
			<p class="services__service-name">. {{ serve.serveName }}</p>
		{% endfor %}
		<hr>
	</div>
	{% endif %}
	<div class="vehicules">
		<h2 class="vehicules__title">Nos véhicules</h2>
		<p class="vehicules__text">Notre garage à pour spécialités la réparation et remise en état de véhicule d’occasion</p>
		<hr>
	</div>
	<div class="avis">
		<h2 class="avis__title">Avis clients</h2>
		{% for view in views %}
			{% if view.active == 1 %}
				<div class="avis__commentaire-affichage">
					<div class="avis__commentaire-affichage__nom-prenom">
						<p class="avis__commentaire-affichage__nom-prenom__item">{{ view.firstName }} {{ view.name }}</p>
						<p class="avis__commentaire-affichage__nom-prenom__item">{{ view.score }}/5</p>
					</div>
					<span class="avis__commentaire-affichage__commentaire">{{ view.comment }}</span>
				</div>
			{% endif %}
		{% endfor %}
		<div class="avis__commentaire-btn">
			<button id="PlusDeCommentaires" class="avis__commentaire-btn__item">Plus de commentaires</button>
			<button id="AjouterCommentaires" class="avis__commentaire-btn__item">Ajouter votre commentaire</button>
		</div>
	</div>
{% endblock %}
{% block body %}
	{{ include('view/_form.html.twig') }}
{% endblock %}